<div class="custom-paginator pt-4">
    <button nbButton status="primary" class="me-1" (click)="goFirstPage()" [disabled]="hasPreviousPage">
        <nb-icon icon="skip-back-outline"></nb-icon>
    </button>
    <button nbButton status="primary" (click)="goPreviousPage()" [disabled]="hasPreviousPage">
        <nb-icon icon="arrow-left-outline"></nb-icon>
    </button>
    <p class="paginator-page">{{ current_page }}/{{ last_page }}</p>
    <button nbButton status="primary" class="me-1" (click)="goNextPage()" [disabled]="hasNextPage">
        <nb-icon icon="arrow-right-outline"></nb-icon>
    </button>
    <button nbButton status="primary" (click)="goLastPage()" [disabled]="hasNextPage">
        <nb-icon icon="skip-back-outline"></nb-icon>
    </button>
</div>